<h1>You're logged in! Welcome to the User Dashboard!</h1>
Name: <%= @user.full_name %>
<br>
Email: <%= @user.email %>
<br>
Access_Token: <%= @user.access_token  %>
<br>
Refresh token: <%= @user.refresh_token  %>
<br>
<%#= link_to "Calendar show", calendar_path(@calendar) %>
<br>
<%= link_to "Sign Out", destroy_user_session_path %>

